@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Dad Jokes Application</h1>
    <p>The foremost authority for Dad Jokes on your local host</p>
</div>
